/* FONTS */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url("../webfonts/rubik-v9-latin-regular.woff2") format("woff2"),
      url("../webfonts/rubik-v9-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:url("../webfonts/rubik-v9-latin-500.woff2") format("woff2"),
      url("../webfonts/rubik-v9-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:url("../webfonts/rubik-v9-latin-700.woff2") format("woff2"),
      url("../webfonts/rubik-v9-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url("../webfonts/roboto-v20-latin-regular.woff2") format("woff2"),
      url("../webfonts/roboto-v20-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:url("../webfonts/roboto-v20-latin-italic.woff2") format("woff2"),       
      url("../webfonts/roboto-v20-latin-italic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:url("../webfonts/roboto-v20-latin-500italic.woff2") format("woff2"),
      url("../webfont/roboto-v20-latin-500italic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:url("../webfonts/roboto-v20-latin-500.woff2") format("woff2"),
      url("../webfonts/roboto-v20-latin-500.woff") format("woff");
}
}
/* General styles */
.page {
 box-sizing: border-box;
 height: 100%;
}
*,*::before,*::after {
 box-sizing: inherit;
}
.page__body {
 height: 100%;
 font-family: "Rubik" , "Arial" , sans-serif;
 font-size: 15px;
 line-height: 18px;
 color: #434343;
}
*:focus {
 outline: 0;
 box-shadow: 0 0 0 4px rgba(41,80,147,0.4);
}
img {
 max-width: 100%;
 height: auto ;
}
/* Container */
.container  {
 max-width: 1200px;
 padding:0 20px;
 margin: 0 auto;
}
/* SITE-HEADER */
.site-header {
 padding-top:40px ;
 padding-bottom: 23px;
 border-top: 4px solid #295093;
 background-color: #f6f6f9;
}
.site-header__top {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 font-size: 16px;
 line-height: 19px;
 margin-bottom: 40px;
}
.site-header__exchange-rates {
 margin-right: 17px;
}
.site-header__actions {
 display: flex;
 flex-wrap: wrap;
 margin-left: auto;
 
}
.site-header__search-button {
 margin-right: 8px;
}
.site-header__language-toggler {
 margin-right: 24px; 
}
.site-header__logo {
 margin-right: 17px;
}
.site-header__toggler {
 display: none;
 box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);  
}
/* search-button */
.search-button {
 padding: 0;
 border: none;
 border-radius:5px;
 background: #fff ;
}
.search-button:hover {
 box-shadow: inset hoff voff blur #000;
}
.search-button__wrapper {
 padding: 8px;
 display: flex;
 justify-content: center;
 align-items:center;
}
/* LOGO */
 .logo {
  display: flex;
  padding: 4px 8px;
  border-radius:5px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(202, 202, 202, 0.25 );
  transition: transorm .3s ease;
 }
 .logo:hover {
  transform: scale(1.025);
 }
 .logo:focus {
  box-shadow: 0 0 0 4px rgba(41,80147,0.4);
 }
/* EXCHANGE RATES */
.exchange-rates  {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 margin: 0;
 padding: 0;
 list-style-type: none;
 color: #7a7a7a;
}
.exchange-rates__icon  {
 color: #285193;  
}
.exchange-rates__item:not(:last-child) {
 margin-right: 26px; 
}
.search-button {
 padding: 8px;
 border: none;
 border-radius: 5px;
 background-color: #fff;
 transition: all 0.3s ease;
 cursor: pointer;
}
.language-toggler {
 padding: 10px;
 border: none;
 border-radius: 5px;
 background-color: #fff;
 transition: all 0.3s ease;
 cursor: pointer;
}
.search-button:hover {
 box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
.language-toggler:hover {
 box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
.language-toggler__wrapper {
 display: flex;
 align-items:center;
 font-weight:500;
}
.language-toggler__img {
 width: 20px;
 height: 20px;
 border-radius:50%;
 margin-right: 5px; 
}
.telegram-sub {
 display: flex;
 align-items:center;
 padding: 10px;
 border-radius: 5px;
 font-size: 16px;
 color: #fff;
 line-height: 19px;
 font-weight: 500;
 background-color: #1e96c8 ;
 background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
 text-decoration: none;
 transition: box-shadow 0.3s ease;
}
.telegram-sub:hover{
 box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
.telegram-sub__img {
 margin-right: 7px;
}
.telegram-sub:hover {
 background-color: #1e96c8 ;
 background-image: linear-gradient(90deg, #37aee2 15.07%, #1e96c8 85.96%);
}
/* sitenav */
.sitenav {
 margin-bottom: 18px;
 border-radius: 5px;
 font-size: 19px;
 line-height: 23px;
 font-weight: 500;
 background-color: #fff;
 box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
} 
.sitenav__list {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items:center; 
 margin: 0;
 padding: 0;
 padding: 17px 12px;
 list-style-type: none;
}
.sitenav__item {
  margin: 5px 12px;
}
.sitenav__item:not(:last-child) {
 margin-right: 27px;
} 
.sitenav__link {
 display: block;
 color:#515151;
 text-decoration: none;
 transition: .3s ease color;
}
.sitenav__link:hover {
 color:#295091; 
}
/* top-banner__link */
.top-banner__link {
 display: flex;
}
/* SITE-FOOTER */
.site-footer {
 padding: 18px;
 background-color: #295093;
 color: #fff;
 font-size: 14px;
 line-height: 17px; 
}
.site-footer__top {
 display: flex;
 flex-wrap: wrap;
 align-items:center;
}
.site-footer__logo {
 padding: 10px;
 border-radius: 7px;
 margin-right: auto;
 background-color: #fff;
}
.site-footer__sub-text {
 margin: 0;
 margin-right: 17px;
}
/* MEDIA QUERIES */
@media (max-width:1000px) {
 .site-header {
  padding-top: 20px;
 }
 .site-header__top {
  margin-right: 0;
  align-items:stretch;
 }
  .exchange-rates {
   order:-1;
   width: 100%;
   justify-content: center;
   margin-bottom: 15px;
  }
} 
/* MEDIA QUERIES */
@media (max-width:850px) {
 .site-header__top {
  margin-bottom: 20px; 
 } 
 .exchange-rates {
   font-size: 14px;
   line-height: 17px;
  } 
  .sitenav {
   font-size: 16px;
   line-height: 20px;
  }
  .sitenav__item {
   margin-top: 3px;
   margin-bottom: 3px;
  }
} 
@media (max-width:750px) {
 .page__body {
  margin-top: 82px;
 }
 .site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 0;
 }
 .site-header__top {
  margin-bottom: 0;
 }
 .site-header__toggler {
  position: relative;
  z-index: 20;
  display: block;
  padding: 10px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-weight: 500;
  background-color:#fff;
  box-shadow: 0 2px 6px rgba(202, 202, 202, 0.25 );
  transition: box-shadow .3s ease;
 }
 .site-header__toggler:focus {
  box-shadow: 0 0 0 4px rgba(41,80,147,0.4);
 }
 .exchange-rates,
 .search-button,
 .telegram-sub,
 .language-toggler {
  display: none;
 }
 .sitenav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  width: 65%;
  border-radius:0;
  margin-bottom: 0;
  transition: transform .3s ease;
  transform: translateX(120%);
  animation: sitenav-slide-out .3s ease 1 forwards ;
 }
 .sitenav--open {
  display: block;
  box-shadow: -10px 0 15px  rgba(0, 0, 0, 0.1);
  animation: sitenav-slide-in .3s ease 1 forwards ;

 }
 .sitenav__list {
  flex-direction: column;
  align-items:flex-end;
  padding: 20px;
  padding-top: 80px; 
 }
 .sitenav__item {
  width: 100%;
  margin: 0 5px;
 }
 .sitenav__item:not(:last-child) {
  border-bottom: 1px solid #515151;
 }
 .sitenav__link {
  padding: 10px 20px;
  text-align: right;
  transition: color .3s ease ,
   background-color .3s ease;
 }
 .sitenav__link:active {
  background-color: #295091;
  color:#fff;
 }
  .top-banner {
  display: none;
 }
}
@media (max-width:500px) {
 .logo__img {
  width: 220px;
 }
 .sitenav {
  width: 80%;
 }
}
/* KEYFRAMES */
@keyframes sitenav-slide-out {
 from {
  transform: translateX(0);
 }
 to {
  transform: translateX(120%);
 }
} 
@keyframes sitenav-slide-in {
 from {
  transform: translateX(120%);
 }
 to {
  transform: translateX(0);
 }
} 